.logo {
  font-family: var(--logo-font);

  display: flex;
  margin-right: 93px;

  font-size: 26px;
  text-decoration: none;
  animation-duration: 1500ms;
}
.footer-logo {
  font-family: var(--logo-font);

  display: flex;

  font-size: 26px;
  text-decoration: none;
  margin-bottom: 20px;
}
.web-logo {
  color: var(--accent-color);
}
.studio-logo {
  color: var(--black-color);
}
.studio-footer {
  color: var(--white-color);
}
.background {
  background-color: var(--section-background-color);
}
